{% extends 'base_sites/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h3>Už si prihlásený!!!</h3>
{% else %}
    <h3>{{ state }}</h3>
    <form method="POST">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}

        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit">Prihlásiť sa</button>

        </div>
    </form>
{% endif %}

{% endblock %}
