<div class="collapse navbar-collapse" id="navbarsExampleDefault"-->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" id='home_nav' href="{% url 'default_web' %}">Domov</a>
        </li>

        {% if user.is_authenticated %}
            {% if perms.crmsystem.show_contract %}
            <li class="nav-item">
                <a class="nav-link" id="contract_nav" href="{% url 'contract_site' %}">Zmluvy</a>
            </li>
            {% endif %}
            {% if perms.crmsystem.show_meeting %}
            <li class="nav-item">
                <a class="nav-link" id="meeting_nav" href="{% url 'meeting_site' %}">Stretnutia</a>
            </li>
            {% endif %}
            {% if perms.crmsystem.show_customer %}
            <li class="nav-item">
                <a class="nav-link" id="customer_nav" href="{% url 'customer_site' %}">Zákaznici</a>
            </li>
            {% endif %}
            {% if perms.crmsystem.show_employee %}
            <li class="nav-item">
                <a class="nav-link" id="employee_nav" href="{% url 'employee_site' %}">Pracovníci</a>
            </li>
            {% endif %}
            {% if perms.crmsystem.show_cloth or perms.crmsystem.show_mark %}
            <li class="nav-item">
                <a class="nav-link" id="cloth_nav" href="{% url 'cloth_site' %}">Oblečenie</a>
            </li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="my-2 my-lg-0">
        {% if user.is_authenticated %}
        <a href="{% url 'logout_form' %}" class="btn btn-primary btn-lg">
            Odhlásiť sa
            <i class="material-icons" style="font-size:19px; color:white;">input</i>
        </a>
        {% else %}
        <a href="{% url 'login_form' %}" class="btn btn-primary btn-lg">
            Prihlásiť sa
            <i class="material-icons" style="font-size:19px; color:white;">assignment_ind</i>
        </a>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    function changeClass(a)
    {
        document.getElementById(a).className = "nav-link active";
    }
</script>
