
{% block content %}

<div class="basic">
    {% include "crmsystem/head.html" %}      
    <script type="text/javascript">
        changeClass("cloth_nav");
    </script>
</div>
<div class="top-space-big"></div>

<a href="{% url 'cloth_settings' %}"<button type="button" class="btn btn-info">set</button></a>
{% for mark in marks %}
<div class="dropdown">
    <div class="top-space-big"></div>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{mark}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for cloth in clothes %}
            {% if cloth.mark == mark %}
                <a class="dropdown-item" href="#">{{cloth}}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}
