{% extends 'base_sites/base.html' %}

{% block content %}

<script type="text/javascript">
    changeClass("cloth_nav");
</script>

<h3>Značky</h3>

<div class="col-md-12">
<a class="btn btn-primary btn-lg btn-block" href="{% url 'mark_new' %}">
    <i class="material-icons" style="font-size:48px; color:white;">add</i>
</a>
<div class="top-space-small"></div>

<div id="accordion" role="tablist">
    {% for mark in marks %}
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#{{ mark }}" aria-expanded="false" aria-controls="collapseOne">
                {{ mark.name_of_mark }}
            </a>
            <a class="btn btn-primary float-sm-right btn-sm" href="{% url 'cloth_new' pk=mark.pk %}" role="button">
                <i class="material-icons" style="font-size:20px; color:white;">add</i>
            </a>
        </h5>
        </div>
        <div id="{{ mark }}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div id="accordion{{ mark }}" role="tablist">
                {% for cloth in clothes %}
                {% if cloth.mark == mark %}
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#{{ cloth }}{{ mark }}" aria-expanded="false" aria-controls="collapseOne">
                            {{ cloth.getName }}
                        </a>
                    </h5>
                    </div>
                    <div id="{{ cloth }}{{ mark }}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion{{ mark }}">
                    <div class="card-body">
                        Farba: {{ cloth.color }} <br>
                        Veľkosť: {{ cloth.size }} <br>
                        Cena za kus: {{ cloth.cost_of_piece }}€ <br>
                        Popis: {{ cloth.description }}
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
