{% extends 'base_sites/base.html' %}

{% block content %}

<script type="text/javascript">
    changeClass("customer_nav");
</script>

{% if perms.crmsystem.add_customer %}
<a href="{% url 'customer_new' %}" class="btn btn-primary btn-lg btn-block">
    <i class="material-icons" style="font-size:48px; color:white;">person_add</i>
</a>
{% endif %}

<div class="top-space-small"></div>

<div class="col-md-12">
<div id="accordion" role="tablist">
    {% for customer in list %}
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapse{{ customer.1 }}" aria-expanded="false" aria-controls="collapseOne">
                {{ customer.0.email }}
            </a>
            {% if perms.crmsystem.change_customer or perms.crmsystem.edit_customer_info %}
            <a class="btn btn-primary float-sm-right btn-sm" href="{% url 'customer_edit' pk=customer.0.pk %}" role="button">
                <i class="material-icons" style="font-size:18px; color:white;">mode_edit</i>
            </a>
            {% endif %}
        </h5>
        </div>
        <div id="collapse{{ customer.1 }}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            {{ customer.0.name }} {{ customer.0.surname }}</br>
            {{ customer.0.city }}, {{ customer.0.street_name }} {{ customer.0.street_number }}
        </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
