{% extends 'base_sites/base.html' %}

{% block content %}

<script type="text/javascript">
    changeClass("employee_nav");
</script>

{% if perms.crmsystem.add_employee %}
<a href="{% url 'employee_new' %}" class="btn btn-primary btn-lg btn-block">
    <i class="material-icons" style="font-size:48px; color:white;">person_add</i>
</a>
{% endif %}

<div class="top-space-small"></div>

<div class="col-md-12">
<div id="accordion" role="tablist">
    {% for employee in list %}
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapse{{ employee.pk }}" aria-expanded="false" aria-controls="collapseOne">
                {{ employee.username }} ({{ employee.title }} {{ employee.name }} {{ employee.surname }})
            </a>
            {% if perms.crmsystem.change_employee %}
            <a class="btn btn-primary float-sm-right btn-sm" href="{% url 'employee_edit' pk=employee.pk %}" role="button">
                <i class="material-icons" style="font-size:18px; color:white;">mode_edit</i>
            </a>
            {% endif %}
        </h5>
        </div>
        <div id="collapse{{ employee.pk }}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Špecializácia na značky:</br></br>
            {% for mark in employee.marks.all %}
                {{ mark }}</br>
            {% endfor %}
        </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
