{% extends 'crmsystem/base.html' %}

{% block content %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link" id="home_nav" href="{% url 'role_site' %}">Domov</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contract_nav" href="{% url 'contract_site' %}">Zmluvy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="meeting_nav" href="{% url 'meeting_site' %}">Stretnutia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="customer_nav" href="{% url 'customer_site' %}">Zakaznici</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="employee_nav" href="{% url 'employee_site' %}">Pracovnici</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" id="cloth_nav" href="{% url 'cloth_site' %}">Oblecenie</a>
    </li>
</ul>
<script type="text/javascript">
    function changeClass(a)
    {
        document.getElementById(a).className = "nav-link active";
    }
</script>
{% endblock %}