{% extends 'base_sites/base.html' %}

{% block content %}

<script type="text/javascript">
    changeClass("home_nav");
</script>

<h3 class="display-4">
    Vitajte
    {% if user.is_authenticated %}
        {% if user.groups.all.0.name == 'Employee_group' %}
            Pracovnik
        {% elif user.groups.all.0.name == 'Customerservice_group' %}
            Vedúci zak. oddelenia
        {% elif user.groups.all.0.name == 'Companyowner_group' %}
            Majteľ firmy
        {% endif %}
        - {{ user.get_username }}
    {% endif %}!
</h3>
<p></p>

{% if not user.is_authenticated %}
<p>
    Toto je hlavná stranka projektu na predmet IIS. Téma: CRM systém
    Autory: Róbert Kolcún, Ján Demčák
</p>
<p>
    Pre prístup do informačného systému je potrebné sa prihlásiť
</p>
<p>
    <a class="btn btn-primary btn-lg" href="{% url 'login_form' %}" role="button">Prihlásiť sa &raquo;</a>
</p>
{% else %}
    <!--
        Tu chcem pridať ešte niečo ako
        Tvoja pozícia je: majteľ firmy/veduci/pracovnik
        Mozes pokracovat tu: Tlacitka do ktorych sekcii ma daný uživateľ prístup
    -->
    {% if perms.crmsystem.show_contract %}
    <a href="{% url 'contract_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Zmluvy</a>
    {% endif %}

    {% if perms.crmsystem.show_meeting %}
    <a href="{% url 'meeting_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Stretnutia</a>
    {% endif %}

    {% if perms.crmsystem.show_customer %}
    <a href="{% url 'customer_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Zakaznici</a>
    {% endif %}

    {% if perms.crmsystem.show_employee %}
    <a href="{% url 'employee_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pracovnici</a>
    {% endif %}

    {% if perms.crmsystem.show_cloth or perms.crmsystem.show_mark %}
    <a href="{% url 'cloth_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Oblecenie</a>
    {% endif %}
{% endif %}

{% endblock %}
