{% extends 'base_sites/base.html' %}

{% block content %}

<script type="text/javascript">
    changeClass("meeting_nav");
</script>

<a href="{% url 'meeting_new' %}" class="btn btn-primary btn-lg btn-block">
    <i class="material-icons" style="font-size:48px; color:white;">add_alert</i>
</a>

<div class="top-space-small"></div>

<div class="col-md-12">
<div id="accordion" role="tablist">
    {% for mtg in list %}
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapse{{ mtg.pk }}" aria-expanded="false" aria-controls="collapseOne">
                {{ mtg.customer.email }}
            </a>
        </h5>
        </div>
        <div id="collapse{{ mtg.pk }}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            {{ mtg.description }}
        </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
