{% block content %}

<div class="basic">
    {% include "crmsystem/head.html" %}      
    <script type="text/javascript">
        changeClass("home_nav");
    </script>
</div>

<div class="top-space-big"></div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <a href="{% url 'contract_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Zmluvy</a>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="top-space-small"></div>

<div class="row top-buffer">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <a href="{% url 'meeting_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Stretnutia</a>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="top-space-small"></div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <a href="{% url 'customer_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Zakaznici</a>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="top-space-small"></div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <a href="{% url 'worker_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pracovnici</a>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="top-space-small"></div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <a href="{% url 'worker_site' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Oblecenie</a>
    </div>
     <div class="col-md-3"></div>
</div>

{% endblock %}
